<form method="POST" class="mt-4" action="/courses/handle-form-actions">
    <div>
      <h3>Bai viet cua toi</h3>
      {{#if deletedCount}}
      <a href="/me/trash/courses">Thung rac ({{deletedCount}})</a>
      {{/if}}

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chon tat ca
          </label>
        </div>
        <select class="form-select form-control-sm checkbox-select-all-options" aria-label="Default select example" name="action" required>
          <option value="">--Hanh dong--</option>
          <option value="delete">Xoa</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm check-all-submit-btn disabled">Thuc hien</button>
      </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Ten bai post</th>
                <th scope="col">Level</th>
                <th scope="col">Thoi gian tao</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sua</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#deleteCourseModal">Xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Ban chua co bai post nao. 
                <a href="/courses/create">Post bai viet</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa bai Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ban co muon xoa bai post ko ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoa</button>  
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>

<script>
    const deleteCourseModal = document.getElementById('deleteCourseModal')

    const checkboxAll=$('#checkbox-all')
    var courseItemCheckbox=$('input[name="courseIds[]"]')
    var checkAllSubmitBtn=$('.check-all-submit-btn')
    
    checkboxAll.change(function(){
      var isCheckedAll=$(this).prop('checked')
      courseItemCheckbox.prop('checked',isCheckedAll)
      renderCheckAllBtn()
    })

    courseItemCheckbox.change(function(){
      var isCheckedAll=courseItemCheckbox.length===$('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked',isCheckedAll)
      renderCheckAllBtn()
    })

    function renderCheckAllBtn(){
      var checkedCount=$('input[name="courseIds[]"]:checked').length
      if(checkedCount>0){
        checkAllSubmitBtn.removeClass('disabled')
      }else{
        checkAllSubmitBtn.addClass('disabled')
      }
    }
   
    deleteCourseModal.addEventListener('show.bs.modal', event => {
        var courseId
        var deleteForm=document.forms['delete-course-form']
        const button = event.relatedTarget
        courseId = button.getAttribute('data-id')
        
        var btnDeleteCourse=document.getElementById('btn-delete-course')
        btnDeleteCourse.onclick=()=>{
            deleteForm.action=`/courses/${courseId}?_method=DELETE`
            deleteForm.submit()
        }
    })
</script>