<body>
    <div id="nav">
        <h1>NAVIGATION</h1>
        <% if (loggedIn) { %>
        <a href="/users/logout">Log out</a>
        <% } %>
    </div>
    <div class="flashes">
        <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
        <% } %>
    </div>

    <%- body %>

    <% if (loggedIn) { %>
    Logged in as <a href="<%=`/users/${currentUser._id}`%>"> <%= currentUser.fullName %></a>
    <%} else {%>
    <a href="/users/login">Log In</a>
    <% } %>
    <div id="footer">
        <h1>FOOTER</h1>
    </div>
</body>