<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/recipeApp.js"></script>
    <script src="/js/socket.io.js"></script>
</head>

<body>

    <div id="nav">
        <li><%- include ('courses/_coursesModal') %></li>
        <% if (loggedIn) { %>
        <a href="/users/logout">Log out</a>
        <% } %>
    </div>

    <div class="flashes">
        <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
        <% } %>
    </div>


    <%- body %>

    <% if (loggedIn) { %>
    Logged in as <a href="<%=`/users/${currentUser._id}`%>"> <%= currentUser.fullName %></a>
    <%} else {%>
    <a href="/users/login">Log In</a><br>
    <a href="/users/new">Sign Up</a>
    <% } %>

    <div id="footer">
        <h1>FOOTER</h1>
    </div>

</body>